.pet-details {
  min-width: 400px;
  padding-bottom: 20px;

  &--field {
    margin-top: 10px;

    .title {
      font-weight: bold;
      margin-right: 10px;
    }

    .tag {
      margin-right: 5px;
      padding: 5px 10px;
      background-color: lightskyblue;
      border-radius: 7px;
    }
  }
}