.logo {
  text-align: center;
  margin: 32px auto;
  
  img {
    max-width: 200px;
    max-height: 200px;
  }
}

.title {
  font-size: 21px;
}

form {
  width: 100%;
  padding-top: 32px;

  mat-form-field {
      width: 100%;
  }

  button {
      width: 100%;
      margin: 16px auto;
      display: block;
  }
}

.redirection {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  max-width: 100%;
  place-content: center;
  align-items: center;

  margin: 32px auto 24px;
  width: 250px;
}

.loading {
  margin: 16px auto;
}


@media screen and (max-width: 599px) {
  form {
      mat-form-field {
          width: 80%;
      }

      button {
          width: 80%;
      }
  }
}
