<div class="login" fxLayout="row" fxFlex>
  <div class="login-intro" fxFlex fxHide fxShow.gt-xs>
    <div class="title">Angular Login-Signup system</div>
    <div class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae quam natus
      minima eius sit. Tempora dolorum porro, sequi corrupti et ut, nobis magni
      fugiat ratione modi quas beatae! Reprehenderit, consequatur.
    </div>
  </div>

  <div class="login-form-wrapper">
    <div class="login-form">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
